<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="~{layout/template :: head}">
        <title>Título</title>        
    </head>
    <body>
        <header th:replace="~{layout/template :: header}"/>
        <p style="text-align: center;">
        <iframe  width="560" height="315" src="https://www.youtube.com/embed/-5OlIb4BCnY?si=2zlHEGUMVnaEmMPA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
        <footer th:replace="~{layout/template :: footer}"/>          
    </body>
</html>
