<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      >
    <head th:replace="~{layout/template :: head}">
        <title>Título</title>
    </head>
    <body>
        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarUsuario">
                            <i class="fas fa-plus"></i> Agregar Usuario
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento para agregar usuario, es la ventana modal -->
        <section th:fragment="agregarUsuario">
            <div id="agregarUsuario" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Agregar Usuario</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/usuario/guardar}" th:object="${usuario}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" name="username" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="password">Contraseña</label>
                                    <input type="text" class="form-control" name="password" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="nombre">Nombre</label>
                                    <input type="number" class="form-control" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="apellidos">Apellidos</label>
                                    <input type="text" class="form-control" name="apellidos" required="false"/>
                                </div>
                  
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informaccion de la entidad usuario -->
        <section th:fragment="listadoUsuarios" id="usuarios">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado de Usuarios</h4>
                            </div>
                            <div th:if="${usuarios != null and !usuarios.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>ID</th>
                                            <th>Username</th>
                                            <th>Contraseña</th>
                                            <th>Nombre</th>
                                            <th>Apellidos</th>
                                            <th></th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="usuario: ${usuarios}">
                                            <td>[[${usuario.idUsuario}]]</td>
                                            <td>[[${usuario.username}]]</td>
                                            <td>[[${usuario.password}]]</td>
                                            <td>[[${usuario.nombre}]]</td>
                                            <td>[[${usuario.apellidos}]]</td>
                                            <td><a th:href="@{/usuario/eliminar/}+${usuario.idUsuario}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> Eliminar </a>
                                            <a th:href="@{/usuario/modifica/}+${usuario.idUsuario}"
                                               data-bs-target="#modificarUsuario"
                                                   class="btn btn-success">
                                            <i class="fas fa-pencil"></i>Modificar</a></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarUsuario">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/usuario/guardar}" 
                          th:object="${usuario}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idUsuario" th:field="*{idUsuario}"/>
                        <input type="hidden" name="username" th:field="*{username}"/>
                        <input type="hidden" name="password" th:field="*{password}"/>
                        <input type="hidden" name="nombre" th:field="*{nombre}"/>
                        <input type="hidden" name="apellidos" th:field="*{apellidos}"/>
                        <section th:replace="~{usuario/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>Modificar Usuario</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="username">Username</label>
                                                    <input type="text" class="form-control" 
                                                           name="username" th:field="*{username}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="password">Password</label>
                                                    <input type="text" class="form-control" 
                                                           name="password" th:field="*{password}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="nombre">Nombre</label>
                                                    <input type="text" class="form-control" 
                                                           name="nombre" th:field="*{nombre}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="apellidos">Apellidos</label>
                                                    <input type="text" class="form-control" 
                                                           name="apellidos" th:field="*{apellidos}"
                                                           required="true">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/usuario/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i>Regresar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/usuario/eliminar/}+${usuario.idUsuario}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i>Eliminar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i>Guardar
                        </button>
                    </div>
                </div>
            </div>
        </section>
        
    </body>
</html>
