
<html  
    xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"> 
    <head th:fragment="head">
        <title>Título</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>        
    </head>
    <body>
        <header th:fragment="header" class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a th:href="@{/}" class="nav-link active" aria-current="page">Inicio</a></li>
                <li class="nav-item"><a th:href="@{/libro/listado}" class="nav-link">Libros</a></li>
                
                <li class="nav-item"><a th:href="@{/cliente/listado}" class="nav-link">Contacto</a></li>
                <li class="nav-item"><a th:href="@{/usuario/listado}" class="nav-link">Usuarios</a></li>
                <li class="nav-item text-white my-auto" sec:authorize="isAuthenticated()">
                    <span sec:authentication="name">Santi</span>
                </li>
                <li class="nav-item my-auto">
                                <form method="post" th:action="@{/logout}">
                                    <button class="btn btn-dark">
                                        <i class="fas fa-sign-out-alt"></i>
                                    </button>
                                    
                                </form>
                            </li>
            </ul>
    </header>
        
        
        <footer th:fragment="footer" class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        
        
    <div class="col-md-4 d-flex align-items-center">
      
      <span class="mb-3 mb-md-0 text-muted" >Librería Prueba 1</span>
      
    </div>

  </footer>
        
    </body>
